.list-title {
    font-size: 30px;
    color: blue;
    font-family: cursive;
}

.list-table {
    margin-top: 20px;
}

.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 50px;
}

.delete-icon {
    cursor: pointer;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;

    }

    .list-table-format.title {
        display: none;
        /* Hide table header on small screens */
    }

    .list-table-format img {
        width: 40px;
        /* Adjust image size for smaller screens */
    }
}

/* Additional Enhancements */
@media (max-width: 480px) {
    .list-title {
        font-size: 20px;
        /* Adjust title font size for smaller screens */
    }

    .list-table-format {
        margin-right: 10px;
        grid-template-columns: 1fr 2fr;
        /* Further simplify columns for very small screens */
        gap: 10px;
    }

    .list-table-format img {
        width: 35px;
        /* Further adjust image size */
    }

    .list-table {
        margin-top: 15px;
        /* Adjust table margin for better spacing */
    }
}