/* Base Styles */
.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    border: 1px solid rgb(31, 34, 236);
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.failed-payment,
.success-payment {
    font-size: 13px;
    font-weight: 400;
    width: 120px;
    text-align: center;
    padding: 5px;
    border: hidden;
    border-radius: 5px;
    background-color: rgb(218, 239, 254);
}

.failed-payment {
    color: red;
}

.success-payment {
    color: green;
}

.order-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.order-item-food,
.order-item-name {
    font-weight: 600;
}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item select {
    background-color: #ffe8e4;
    border: 1px solid rgb(31, 34, 236);
    width: fit-content;
    padding: 10px;
    outline: none;
}

/* Tablet Responsiveness */
@media(max-width: 1000px) {
    .order-item {
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
        gap: 20px;
    }

    .order-item select {
        padding: 5px;
        font-size: 12px;
    }

    .order-item img {
        width: 60px;
        height: 60px;
    }
}

/* Mobile Responsiveness */
@media(max-width: 600px) {
    .order-item {
        margin-right: 10px;
        grid-template-columns: 1fr;
        font-size: 14px;
        padding: 15px 20px;
        gap: 10px;
    }

    .order-item img {
        width: 50px;
        height: 50px;
    }

    .order-item select {
        width: fit-content;
        padding: 5px;
        font-size: 12px;
    }

    .order-item-name {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

/* Small Mobile Responsiveness */
@media(max-width: 400px) {
    .order-item {
        margin-right: 15px;
        margin-left: -5px;
        font-size: 12px;
        padding: 15px 15px;
    }

    .order-item img {
        width: 40px;
        height: 40px;
    }

    .order-item select {
        padding: 3px;
        font-size: 10px;
    }

    .order-item-name {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}