.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4%;
    gap: 50px;
}

h1 {
    color: blue;
    font-family: cursive;
    font-size: 40px;
    font-weight: 500;
}

.navbar .logo {
    width: max(8%, 70px);
}

.navbar .profile {
    width: 80px;
}

@media (max-width:500px) {

    .navbar {
        gap: 30px
    }

    .navbar .logo {
        width: max(7%, 60px);
    }

    .navbar .profile {
        width: 70px;
    }

    h1 {
        font-size: 30px;
    }
}